.information
	padding: 0.08rem

	h3
		font-size: 1.25em
		margin: 0.1rem 0
		font-weight: bold
		text-align: center

	table
		width: 100%
		th

			padding: 0.08rem
			border: 1px solid #fff

		td
			padding: 0.08rem
			border: 1px solid #fff

	p
		margin: 0.08rem 0
		&.p1

			text-align: center
			color: #131313
			margin-bottom: 0.16rem

		&.p2
			margin-top: 0.16rem
	ul
		li
			margin: 0.08rem 0
