.home-banner
    text-align: center

    img
        display: block
        width: 100%
        height: 100%

    .swiper-pagination
        padding: 0.24rem 0 0.08rem 0
        line-height: 0.08rem
        bottom: 0
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.56) 100%)
        text-align: right

    .swiper-pagination-bullet
        width: 0.08rem
        height: 0.08rem
        background: #fff
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.27)

    .swiper-pagination-bullet-active
        background: rgba(255, 255, 255, 0.5)

    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
        margin: 0
        margin-right: 0.08rem


.home-menu
    display: flex
    height: 0.44rem
    background-color: #fff

    +box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.1))

    .home-menu-logo
        position: relative
        z-index: 2
        width: 0.76rem

        img
            position: absolute
            left: 0.08rem
            bottom: 0.12rem
            width: 0.6rem
            height: 0.6rem
            background-image: linear-gradient(-136deg, #E1C591 0%, #C8A565 100%)
            border: 1px solid #fff
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)
            border-radius: 4px

    .home-menu-menu
        flex: 1
        display: flex
        justify-content: space-around

        a
            position: relative
            display: inline-block
            line-height: 0.44rem
            opacity: 0.7
            font-size: 13px
            color: rgba(200, 164, 101, 0.83)

            &.active
                opacity: 1
                color: #c8a565

                &:after
                    content: ""
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 90%
                    height: 1px
                    line-height: 1px
                    background-color: #c8a565

    .home-menu-qrcode
        position: relative
        width: 0.54rem

        &:after
            content: ""
            position: absolute
            top: 0.11rem
            bottom: 0.11rem
            width: 1px
            background-color: rgba(0, 0, 0, 0.05)

        img
            display: block
            width: 0.22rem
            height: 0.22rem
            margin: 0.11rem auto

.home-quickad
    height: 0.24rem
    padding: 0.08rem
    color: #fff
    background-color: #c8a565

    .home-quickad-content
        line-height: 0.24rem
        overflow-x: auto
        
        .text
            display: inline-block
            white-space: nowrap
            transition: 5s linear transform
            animation: quickadmove 5s linear infinite
            animation-delay: 1s

@keyframes quickadmove_
    0%
        transform: translateX(0)
    80%
        transform: translateX(-100%)
    100%
        transform: translateX(-100%)

.home-list
    padding: 0.16rem 0.16rem 0

    .home-list-item
        display: block
        margin-bottom: 0.16rem
        background-color: #fff
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14)
        border-radius: 4px

        .home-list-thumb
            display: block
            width: 100%

        .home-list-content
            padding: 0.08rem

        .home-list-title
            font-size: 0.12rem

            +ellipsis(2)

        .home-list-opt
            display: flex
            margin-top: 0.08rem

        .home-list-price
            flex: 1
            font-size: 0.17rem
            color: #c8a565

            em
                font-size: 0.12rem

        .home-list-buy
            position: relative
            width: 1rem
            height: 0.3rem
            line-height: 0.3rem
            padding-left: 10px
            color: #fff
            font-size: 0.14rem
            text-align: center
            background-image: linear-gradient(145deg, #ebc98c 0%, #c8a565 100%)
            box-shadow: 0 0 4px 0 rgba(200, 165, 101, 0.45)
            border-radius: 0.25rem

            &:after
                content: ""
                position: absolute
                left: 12px
                top: 13px
                width: 15px
                height: 2px
                background-color: #fff

            &:before
                content: ""
                position: absolute
                left: 19px
                top: 7px
                width: 2px
                height: 15px
                background-color: #fff